[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django-rest-swagger = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
django-rest-auth = "*"
django-allauth = "*"
rigor = "*"
Django = "*"
Pillow = "*"

[requires]
python_version = "3.6"
