<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meetingmasterclient">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
             The API key for Google 
-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".LocationUpdateService"
            android:exported="false"
            android:description="@string/desc_service_location_update"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"/>

        <activity
            android:name=".SuggestionsListActivity"
            android:label="@string/title_activity_suggestions_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DebugLauncherActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventCreation"
            android:label="@string/title_activity_event_creation" />
        <activity
            android:name=".EventDetails"
            android:label="@string/title_activity_event_details" />
        <activity
            android:name=".AddUserstoMeeting"
            android:label="@string/title_activity_add_users_to_meeting" />
        <activity
            android:name=".AttendeeList"
            android:label="@string/title_activity_attendee_list" />
        <activity
            android:name=".InvitationListActivity"
            android:label="@string/title_activity_invitation_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventListView"
            android:label="My Events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventEdition"
            android:label="Event Edition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSearch"
            android:label="User Search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileEdition"
            android:label="My Profile" />
        <activity
            android:name=".PasswordReset"
            android:label="Password Reset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PasswordReset2"
            android:label="Password Reset2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileDetails"
            android:label="@string/title_activity_profile_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".LocationSuggestion"
            android:label="@string/title_activity_location_suggestion"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="signature">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
