<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetingmasterclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Create_a_Meeting"
            android:label="Create a Meeting">
        </activity>
        <activity
            android:name=".EventListView"
            android:label="My Events"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".EventCreation"
            android:label="@string/title_activity_create_event"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddUserstoMeeting"
            android:label="Add User to Meeting">
        </activity>
        <activity
            android:name=".EventNoteAddition"
            android:label="Event Note"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".EventEdition"
            android:label="Event Edition"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".UserSearch"
            android:label="User Search"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProfileEdition"
            android:label="My Profile"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".EventNoteAddition"
            android:label="Event Note"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PasswordReset"
            android:label="Password Reset"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration">
        </activity>


    </application>

</manifest>